@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("static/Montserrat-Regular.ttf") format("ttf"), url("static/Montserrat-ExtraBold.ttf") format("ttf");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

.icon {
  width: 20px;
  height: 20px;
}

h1 {
  height: 60px;
  margin: 10px 0 0 15px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.container {
  width: 100%;
}
.container::after {
  content: "";
  display: block;
  clear: both;
}
.container .bgSection {
  float: left;
  width: 50%;
}
.container .bgSection #frame {
  width: 100%;
  height: 100vh;
}
.container .bgSection #frame .panels {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.container .bgSection #frame .panels li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.container .bgSection #frame .panels li.on img {
  opacity: 1;
  transform: scale(1.03);
}
.container .bgSection #frame .panels li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transform: scale(1);
  transition: opacity 0.5s, transform 4s;
}
.container .bgMobile {
  display: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.container .bgMobile figure {
  width: 100%;
  height: 100%;
}
.container .bgMobile figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .mask {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
}
.container .login {
  position: absolute;
  top: 15%;
  left: 60%;
  width: 25%;
  height: 60%;
  text-align: center;
  border-radius: 30px;
  padding: 50px;
  background-color: #eee;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.container .login h2.sublogo {
  font-size: 40px;
  font-weight: bolder;
  color: #003377;
}
.container .login h2.sublogo::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #003377;
}
.container .login span.sublogo {
  display: block;
  font-size: 10px;
  margin: 5px auto 60px;
}
.container .login .loginInput {
  width: 290px;
  margin: 10px auto;
}
.container .login .loginInput::after {
  content: "";
  display: block;
  clear: both;
}
.container .login .loginInput input[type=text],
.container .login .loginInput input[type=password] {
  float: left;
  width: 180px;
  height: 35px;
  border: 1px solid #999;
  border-radius: 5px;
  margin-bottom: 8px;
  padding-left: 10px;
}
.container .login .loginInput .loginBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  color: #fff;
  width: 90px;
  height: 82px;
  background-color: navy;
  border-radius: 5px;
}
.container .login .loginInput .saveId {
  width: 70%;
  float: left;
  text-align: left;
  margin-bottom: 10px;
}
.container .login .loginInput .saveId input[type=checkbox] {
  cursor: pointer;
}
.container .login .loginInput .saveId label {
  font-size: 14px;
}
.container .login .loginInput select {
  float: right;
  cursor: pointer;
}
.container .login .searchPwd,
.container .login .signIn,
.container .login .helpDesk {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.container .login .searchPwd a,
.container .login .signIn a,
.container .login .helpDesk a {
  margin-left: 5px;
}
.container .login .searchPwd a span,
.container .login .signIn a span,
.container .login .helpDesk a span {
  font-size: 14px;
  color: #003377;
}
.container .login .searchPwd:hover a span,
.container .login .signIn:hover a span,
.container .login .helpDesk:hover a span {
  color: crimson;
}
.container .login .helpDesk {
  margin-bottom: 40px;
}
.container .login .notice {
  font-size: 15px;
}
.container .login .notice p {
  margin-bottom: 30px;
}
.container .login .notice span {
  font-size: 11px;
}

@media screen and (max-width: 1200px) {
  .container .login {
    left: 52%;
    width: 40%;
    padding: 30px;
  }
}
@media screen and (max-width: 850px) {
  .container {
    width: 100%;
  }
  .container::after {
    content: "";
    display: block;
    clear: both;
  }
  .container .bgSection {
    display: none;
  }
  .container .bgMobile {
    display: block;
  }
  .container .login {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 340px;
    height: 70%;
    padding: 20px 10px;
  }
  .container .login span.sublogo {
    margin: 5px auto 40px;
  }
  .container .login .loginInput input {
    height: 30px;
    margin-bottom: 5px;
  }
  .container .login .loginInput a {
    width: 80px;
    height: 75px;
  }
  .container .login .searchPwd,
  .container .login .signIn,
  .container .login .helpDesk {
    margin-top: 5px;
  }
  .container .login .searchPwd a,
  .container .login .signIn a,
  .container .login .helpDesk a {
    margin-left: 10px;
  }
  .container .login .searchPwd a span,
  .container .login .signIn a span,
  .container .login .helpDesk a span {
    font-size: 12px;
  }
  .container .login .helpDesk {
    margin-bottom: 30px;
  }
  .container .login .notice {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
