.main-cont .product .usr-div-1 {
    max-width: 80vw;
}

.main-cont .product .sub {
   width: 40vw;
    height:52vw;
	background-repeat:no-repeat;
	background-size: contain;
}

.content.sub {
    padding-left:5vw;
	padding-right:5vw;
}