/*
본 프로그램은 마루에서 제작한 홈페이지/프로그램 제작 플랫폼으로
마루의 허락없이 본 소스를 수정할수 없습니다.
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@media (max-width:740px){
    html{font-size:14px;}
}
@media (min-width:741px) and (max-width:1098px){
	html{font-size:15px;}
}
@media (min-width:1099px) and (max-width:1249px){
    html{font-size:16px;}
}
@media (min-width:1250px){
    html{font-size:18px;}
}



/*-------------------------------------------------------------기본설정*/



input, select{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color:none;
-webkit-border-radius:0;
-moz-border-radius:0; 
-o-border-radius:0; 
border-radius:0;
}

select{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color:none;
  -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
-webkit-border-radius:0;
-moz-border-radius:0; 
-o-border-radius:0; 
border-radius:0;
}

select option:checked, 
select option:hover {    
    background: #c0c0c0; 
    color: #fff;
}


html,body{
    color:#181818;
    line-height: 165%;
    word-break: keep-all;
	letter-spacing:0px;
	margin:0;
	padding:0;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight:300;
}

* { -webkit-tap-highlight-color: rgba(255,255,255,0); }

::-webkit-input-placeholder {
   color: #9e9e9e;
   opacity:  1;
   font-size:0.8rem;
}
:-moz-placeholder { 
   color: #9e9e9e;
   opacity:  1;
	font-size:0.8rem;
}
::-moz-placeholder { 
   color: #9e9e9e;
   opacity:  1;
     font-size:0.8rem;
}
:-ms-input-placeholder { 
   color: #9e9e9e;
   opacity:  1;
   font-size:0.8rem;
}
::placeholder {
   color: #9e9e9e;
   opacity:  1;
   font-size:0.8rem;
}

textarea{
	font-family: 'Noto Sans KR', sans-serif;
}

body{
	/*min-width:400px;*/
    overflow-y:scroll;
	background:#fff;
}

* {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
	box-sizing:border-box;
	margin:0px;
	padding:0px;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color:inherit;
    text-decoration: none ;
    border: 0;
    outline: 0;
}

a,area { blr:expression(this.onFocus=this.blur()) }
:focus { -moz-outline-style: none; }


a:hover {
	text-decoration:none;
}

a:visited{
	text-decoration:none;
}

a:link{
	text-decoration:none;
}

a:active{
	text-decoration:none;
}

li{
	list-style-type:none;
	/*list-style-position:inside;*/
}

select::-ms-expand { display: none; }
button{ border:none;cursor:pointer;background:none;outline:none;}

legend{
	font-size: 0;
    text-indent: -99999em;
    line-height: 0;
}

form, fieldset{
    border: none;
}

img{
	max-width:100%;
	border:none;
	box-sizing:border-box;
	vertical-align:middle;
	border:0;
}


.none{
    clear:both;
}

.skip_area {
	width: 100%;
	position: absolute;
	z-index: 99999;
	top:0;
	left:-10000px;
}

.skip{
	display: block;
	height: 1px;
	width: 1px;
	margin: 0 -1px -1px 0;
	padding: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}

.skip:hover, .skip:active, .skip:focus{
	width: 200px;
	height: auto;
	margin: 0;
	padding: 15px 0;
	text-indent: 10px;
	font-weight: bold;
	font-size: 12px;
	color: #333;
	font-family: Tahoma;
	line-height: 1;
	text-decoration: none;
	position: absolute;
	background: #fff;
}

/*-------------------------------------------------------------기본색 지정 */
:root {
	--color-blue-1: #1355b1;
	--color-blue-2: #236dc7;
	--color-blue-3: #236dc7;
	--color-blue-4: #236dc7;
	--color-blue-5: #236dc7;
	
	--color-red-1: #f04e22;
	--color-red-2: #ed4d95;
	--color-red-3: #ed4d95;
	--color-red-4: #ed4d95;
	--color-red-5: #ed4d95;
	
	--color-gray-1: #1d1d20;
	--color-gray-2: #333333;
	--color-gray-3: #6a6a6a;
	--color-gray-4: #7a7a7a;
	--color-gray-5: #e3e3e3;
    --color-gray-6: #cccccc;
    --color-gray-7: #f4f5f4;
    
	
	--border-color:#ccc;
	
	--font-size-lg:1.5rem;
	--font-size-md:1.3rem;
	--font-size-sm:1rem;
	--font-size-xs:0.8rem;
	--font-size-xxs:0.7rem;
	
	--padding-lg:0.8rem;
	--padding-md:0.6rem;
	--padding-sm:0.4rem;
	--padding-xs:0.3rem;
	--padding-xxs:0.2rem;
	
    --height-lg:3rem;
	--height-md:2.5rem;
	--height-sm:2.2rem;
	--height-xs:1.8rem;
	--height-xxs:1.5rem;
	--icon-plus:"\f067";
	--icon-minus:"\f010";
}

/*------------------------------------------------------ 디스플레이 타입 */
.row{
	width:100%;
	display:table;
	table-layout: fixed;
}

.row-r{
	display:table-row;
}

.row-b{
	width:100%;
	display:block;
	table-layout: fixed;
}

.col{min-height: 1px;display:table-cell;}
.col-b{display:block;}
.col-ib{display:inline-block;}
.col-it{display:inline-table;}
.col-t{display:table;width:auto;}
.col-n{display:none;}

.f-l{float:left;}
.f-r{float:right;}

.po-a{position:absolute;}
.po-r{position:relative;}

/*------------------------------------------------------- ul 설정 */
.garo{
    width:100%;
    display:block;
    margin: 0;
    padding: 0;
}

.garo li{
    width:auto;
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
}

.sero{
    width:auto;
    display: block;
    margin: 0;
    padding: 0;
}

.sero li{
    width: 100%;
    list-style-type: none;
	text-align:center;
	font-size:0.9rem;
	line-height:180%;
	color:#707070;
}

.ul-auto{
    display:table;
    width:auto;
    margin:0 auto;
}

.ul-auto li{
    float:left;
    font-size: 0.8rem;
}

/*------------------------------------------------------ margin 기본 */
.m-0_5{margin:0.5rem;}
.m-1{margin:1rem;}
.m-2{margin:2rem;}
.m-3{margin:3rem;}
.m-4{margin:4rem;}
.m-5{margin:5rem;}
.m-6{margin:6rem;}
.m-7{margin:7rem;}
.m-8{margin:8rem;}
.m-9{margin:9rem;}
.m-10{margin:10rem;}

.mh-1{margin-top:0.5rem;margin-bottom:0.5rem;}
.mh-2{margin-top:1rem;margin-bottom:1rem;}
.mh-3{margin-top:1.5rem;margin-bottom:1.5rem;}
.mh-4{margin-top:2rem;margin-bottom:2rem;}
.mh-5{margin-top:2.5rem;margin-bottom:2.5rem;}
.mh-6{margin-top:3rem;margin-bottom:3rem;}
.mh-7{margin-top:3.5rem;margin-bottom:3.5rem;}
.mh-8{margin-top:4rem;margin-bottom:4rem;}
.mh-9{margin-top:4.5rem;margin-bottom:4.5rem;}
.mh-10{margin-top:5rem;margin-bottom:5rem;}
.mh-20{margin-top:12rem;margin-bottom:10rem;}
.mh-30{margin-top:15rem;margin-bottom:15rem;}

.mt-0_5{margin-top:0.2rem;}
.mt-1{margin-top:0.5rem;}
.mt-2{margin-top:1rem;}
.mt-3{margin-top:1.5rem;}
.mt-4{margin-top:2rem;}
.mt-5{margin-top:2.5rem;}
.mt-6{margin-top:3rem;}
.mt-7{margin-top:3.5rem;}
.mt-8{margin-top:5rem;}
.mt-9{margin-top:4.5rem;}
.mt-10{margin-top:5rem;}
.mt-11{margin-top:5.5rem;}
.mt-12{margin-top:6rem;}
.mt-13{margin-top:6.5rem;}
.mt-14{margin-top:7rem;}
.mt-15{margin-top:7.5rem;}
.mt-20{margin-top:10rem;}


.mb-1{margin-bottom:0.5rem;}
.mb-2{margin-bottom:1rem;}
.mb-3{margin-bottom:1.5rem;}
.mb-4{margin-bottom:2rem;}
.mb-5{margin-bottom:2.5rem;}
.mb-6{margin-bottom:3rem;}
.mb-7{margin-bottom:3.5rem;}
.mb-8{margin-bottom:4rem;}
.mb-9{margin-bottom:4.5rem;}
.mb-10{margin-bottom:5rem;}

.mw-1{margin-left:1%;margin-right:1%;}
.mw-2{margin-left:2%;margin-right:2%;}
.mw-3{margin-left:3%;margin-right:3%;}
.mw-4{margin-left:4%;margin-right:4%;}
.mw-5{margin-left:5%;margin-right:5%;}
.mw-6{margin-left:6%;margin-right:6%;}
.mw-7{margin-left:7%;margin-right:7%;}
.mw-8{margin-left:8%;margin-right:8%;}
.mw-9{margin-left:9%;margin-right:9%;}
.mw-10{margin-left:10%;margin-right:10%;}

.ml-0{margin-left:0%;}
.ml-1{margin-left:1%;}
.ml-2{margin-left:2%;}
.ml-3{margin-left:3%;}
.ml-4{margin-left:4%;}
.ml-5{margin-left:5%;}
.ml-6{margin-left:6%;}
.ml-7{margin-left:7%;}
.ml-8{margin-left:8%;}
.ml-9{margin-left:9%;}
.ml-10{margin-left:10%;}

.mr-1{margin-right:1rem;}
.mr-2{margin-right:2%;}
.mr-3{margin-right:3%;}
.mr-4{margin-right:4%;}
.mr-5{margin-right:5%;}
.mr-6{margin-right:6%;}
.mr-7{margin-right:7%;}
.mr-8{margin-right:8%;}
.mr-9{margin-right:9%;}
.mr-10{margin-right:10%;}
.m-auto{margin-right:auto;margin-left:auto;}

/*-------------------------------------------------------------------- padding 기본 */
.p-0{padding:0rem;}
.p-0_5{padding:0.25rem;}
.p-1{padding:0.5rem;}
.p-2{padding:1rem;}
.p-3{padding:1.5rem;}
.p-4{padding:2rem;}
.p-5{padding:2.5rem;}
.p-6{padding:3rem;}
.p-7{padding:3.5rem;}
.p-8{padding:4rem;}
.p-9{padding:4.5rem;}
.p-10{padding:5rem;}
.p-11{padding:5.5rem;}
.p-12{padding:6rem;}
.p-13{padding:6.5rem;}
.p-14{padding:7rem;}
.p-15{padding:7.5rem;}

.ph-0_5{padding-top:0.35rem;padding-bottom:0.35rem;}
.ph-1{padding-top:0.5rem;padding-bottom:0.5rem;}
.ph-1_5{padding-top:0.75rem;padding-bottom:0.75rem;}
.ph-2{padding-top:1rem;padding-bottom:1rem;}
.ph-3{padding-top:1.5rem;padding-bottom:1.5rem;}
.ph-4{padding-top:2rem;padding-bottom:2rem;}
.ph-5{padding-top:2.5rem;padding-bottom:2.5rem;}
.ph-6{padding-top:3rem;padding-bottom:3rem;}
.ph-7{padding-top:3.5rem;padding-bottom:3.5rem;}
.ph-8{padding-top:4rem;padding-bottom:4rem;}
.ph-9{padding-top:4.5rem;padding-bottom:4.5rem;}
.ph-10{padding-top:5rem;padding-bottom:5rem;}
.ph-11{padding-top:5.5rem;padding-bottom:5.5rem;}
.ph-12{padding-top:6rem;padding-bottom:6rem;}
.ph-13{padding-top:6.5rem;padding-bottom:6.5rem;}
.ph-14{padding-top:7rem;padding-bottom:7rem;}
.ph-15{padding-top:7.5rem;padding-bottom:7.5rem;}
.ph-16{padding-top:8rem;padding-bottom:8rem;}
.ph-17{padding-top:8.5rem;padding-bottom:8.5rem;}
.ph-18{padding-top:9rem;padding-bottom:9rem;}
.ph-19{padding-top:9.5rem;padding-bottom:9.5rem;}
.ph-20{padding-top:10rem;padding-bottom:10rem;}


.pt-0{padding-top:0rem;}
.pt-0_5{padding-top:0.2rem;}
.pt-1{padding-top:0.5rem;}
.pt-2{padding-top:1rem;}
.pt-3{padding-top:1.5rem;}
.pt-4{padding-top:2rem;}
.pt-5{padding-top:2.5rem;}
.pt-6{padding-top:3rem;}
.pt-7{padding-top:3.5rem;}
.pt-8{padding-top:4rem;}
.pt-9{padding-top:4.5rem;}
.pt-10{padding-top:5rem;}
.pt-15{padding-top:7.5rem;}
.pt-20{padding-top:10rem;}

.pb-0_5{padding-bottom:0.25rem;}
.pb-1{padding-bottom:0.5rem;}
.pb-2{padding-bottom:1rem;}
.pb-3{padding-bottom:1.5rem;}
.pb-4{padding-bottom:2rem;}
.pb-5{padding-bottom:2.5rem;}
.pb-6{padding-bottom:3rem;}
.pb-7{padding-bottom:3.5rem;}
.pb-8{padding-bottom:4rem;}
.pb-9{padding-bottom:4.5rem;}
.pb-10{padding-bottom:5rem;}
.pb-11{padding-bottom:5.5rem;}
.pb-12{padding-bottom:6rem;}
.pb-13{padding-bottom:6.5rem;}
.pb-14{padding-bottom:7rem;}
.pb-15{padding-bottom:7.5rem;}

.pw-0_5{padding-left:0.3rem;padding-right:0.3rem;}
.pw-1{padding-left:0.5rem;padding-right:0.5rem;}
.pw-2{padding-left:1rem;padding-right:1rem;}
.pw-3{padding-left:1.5rem;padding-right:1.5rem;}
.pw-4{padding-left:2rem;padding-right:2rem;}
.pw-5{padding-left:2.5rem;padding-right:2.5rem;}
.pw-6{padding-left:3rem;padding-right:3rem;}
.pw-7{padding-left:3.5rem;padding-right:3.5rem;}
.pw-8{padding-left:4rem;padding-right:4rem;}
.pw-9{padding-left:4.5rem;padding-right:4.5rem;}
.pw-10{padding-left:5rem;padding-right:5rem;}
.pw-11{padding-left:6rem;padding-right:6rem;}
.pw-12{padding-left:6.5rem;padding-right:6.5rem;}
.pw-13{padding-left:7rem;padding-right:7rem;}
.pw-14{padding-left:7.5rem;padding-right:7.5rem;}
.pw-15{padding-left:8rem;padding-right:8rem;}

.pl-1{padding-left:0.5rem;}
.pl-2{padding-left:1rem;}
.pl-3{padding-left:1.5rem;}
.pl-4{padding-left:2rem;}
.pl-5{padding-left:2.5rem;}
.pl-6{padding-left:3rem;}
.pl-7{padding-left:3.5rem;}
.pl-8{padding-left:4rem;}
.pl-9{padding-left:4.5rem;}
.pl-10{padding-left:5rem;}
.pl-11{padding-left:5.5rem;}
.pl-12{padding-left:6rem;}
.pl-13{padding-left:6.5rem;}
.pl-14{padding-left:7rem;}
.pl-15{padding-left:7.5rem;}
.pl-40{padding-left:20rem;}
.pl-50{padding-left:25rem;}


.pr-1{padding-right:0.5rem;}
.pr-2{padding-right:1rem;}
.pr-3{padding-right:1.5rem;}
.pr-4{padding-right:2rem;}
.pr-5{padding-right:2.5rem;}
.pr-6{padding-right:3rem;}
.pr-7{padding-right:3.5rem;}
.pr-8{padding-right:4rem;}
.pr-9{padding-right:4.5rem;}
.pr-10{padding-right:5rem;}


/*------------------------------------------------------------------------------------- form 스타일 */
.form{
    border:1px solid #ccc;
    display:inline-block;
    line-height:110%;
    color:#565656;
    background-color:#fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    vertical-align:bottom;
    box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.form.select{
    position: relative;
}



.form.select select{
  display: block;
  width: 100%;
  font-size: inherit;
  line-height:inherit;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: none;
  -ms-word-break: normal;
  word-break: normal;
 box-sizing: border-box;
 overflow:hidden;
 outline: 0;
 padding-left:1rem;
 padding-right:1rem;   
}

.form.select:after{
    content:"\25BC";
    font-weight: 400;
	font-size:0.6rem;
    color: #8d8d8d;
    position: absolute; 
    right: 0; 
    top:0;
    background: white;
    z-index: 1;
    text-align: center;
    height: 100%;      
    pointer-events: none;
    box-sizing: border-box;  
    outline: 0;
}

.form.lg{height:3rem;font-size:1.5rem;padding-left:0.8rem;}
.form.md{height:2.5rem;font-size:1rem;padding-left:0.6rem;padding-right:0.6rem;}
.form.sm{height:2.2rem;font-size:1rem;}
.form.xs{height:1.8rem;font-size:0.8rem;padding-left: 0.3rem;}
.form.xxs{height:1.5rem;font-size:0.7rem;padding-left:0.2rem;}

.form.tlg{font-size:1.5rem;padding-left:0.8rem;}
.form.tmd{font-size:1.3rem;padding-left:0.6rem;}
.form.tsm{font-size:1rem;padding-left:0.4rem;}
.form.txs{font-size:0.8rem;padding-left: 0.3rem;}
.form.txxs{font-size:0.7rem;padding-left:0.2rem;}

.form.lg.round{border-radius:0.8rem;}
.form.md.round{border-radius:0.6rem;}
.form.sm.round{border-radius:0.4rem;}
.form.xs.round{border-radius:0.3rem;}
.form.xxs.round{border-radius:0.2rem;}

.form.lg.select select{height:calc(3rem*0.95);margin-right:calc(0.8rem*3);}
.form.lg.select:after{padding-top:calc(3rem*0.2);width:calc(0.8rem*3);}
.form.md.select select{height:calc(2.5rem*0.9);margin-right:calc(0.6rem*3);padding-left: 0.5rem;padding-right: 0.5rem;margin-top: 2px;}
.form.md.select:after{padding-top:calc(2.5rem*0.25);width:calc(0.6rem*3);}
.form.sm.select select{height:calc(2.2rem*0.95);margin-right:calc(0.4rem*3);}
.form.sm.select:after{padding-top:calc(2.2rem*0.2);width:calc(0.4rem*3);}
.form.xs.select select{height:calc(1.8rem*0.95);margin-right:calc(0.3rem*3);}
.form.xs.select:after{padding-top:calc(1.8rem*0.2);width:calc(0.3rem*3);}
.form.xxs.select select{height:calc(1.5rem*0.92);margin-right:calc(0.2rem*3);}
.form.xxs.select:after{padding-top:calc(1.5rem*0.2);width:calc(0.2rem*3);}

/*------------------------------------------------------------------------------------- button 스타일 */
.button{
    border:none;
    width:auto;
    display:inline-block;
    line-height:110%;
    padding-left:1em;
    padding-right:1em;
    color:white;
    text-align: center;
    position:relative;
}

.button:after{
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    z-index: 1;
    text-align: center;
    height: 100%;      
    pointer-events: none;
    box-sizing: border-box;  
    width:20px;
    padding-left:0.5em;
    vertical-align: bottom;
}

.button.icon-plus:after{
    content:var(--icon-plus);
}

.button.icon-minus:after{
    content:var(--icon-minus);
}

.button.lg{height:3rem;font-size:1.5rem;}
.button.md{height:2.5rem;font-size:1.3rem;}
.button.sm{height:2.2rem;font-size:1rem;}
.button.xs{height:1.8rem;font-size:0.8rem;}
.button.xxs{height:1.5rem;font-size:0.7rem;}

.button.lg:after{font-size:calc(1.5rem*0.7);}
.button.md:after{font-size:calc(1.3rem*0.7);}
.button.sm:after{font-size:calc(1rem*0.7);}
.button.xs:after{font-size:calc(0.8rem*0.7);}
.button.xxs:after{font-size:calc(0.7rem*0.7);}


.button.lg.round{border-radius:calc(0.8rem*1.2);}
.button.md.round{border-radius:calc(0.6rem*1.2);}
.button.sm.round{border-radius:calc(0.4rem*1.2);}
.button.xs.round{border-radius:calc(0.3rem*1.2);}
.button.xxs.round{border-radius:calc(0.2rem*1.4);}

.button.blue-1{background-color:#1355b1;border:1px solid #1355b1; }
.button.blue-2{background-color:#236dc7;border:1px solid #236dc7; }
.button.blue-3{background-color:#236dc7;border:1px solid #236dc7; }
.button.blue-4{background-color:#236dc7;border:1px solid #236dc7; }
.button.blue-5{background-color:#236dc7;border:1px solid #236dc7; }

.button.red-1{background-color:#f04e22;border:1px solid #f04e22; }
.button.red-2{background-color:#ed4d95;border:1px solid #ed4d95; }
.button.red-3{background-color:#ed4d95;border:1px solid #ed4d95; }
.button.red-4{background-color:#ed4d95;border:1px solid #ed4d95; }
.button.red-5{background-color:#ed4d95;border:1px solid #ed4d95; }

.button.gray-1{background-color:#1d1d20;border:1px solid #1d1d20; }
.button.gray-2{background-color:#333333;border:1px solid #333333; }
.button.gray-3{background-color:#6a6a6a;border:1px solid #6a6a6a; }
.button.gray-4{background-color:#7a7a7a;border:1px solid #7a7a7a; }
.button.gray-5{background-color:#e3e3e3;border:1px solid #e3e3e3; }



/*--------------------------------------------------- width 간격 나누기 1~ 100 까지 구분*/
.w-1{width:1%;}
.w-2{width:2%;}
.w-3{width:3%;}
.w-4{width:4%;}
.w-5{width:5%;}
.w-6{width:6%;}
.w-7{width:7%;}
.w-8{width:8%;}
.w-9{width:9%;}
.w-10{width:10%}
.w-11{width:11%;}
.w-12{width:12%;}
.w-13{width:13%;}
.w-14{width:14%;}
.w-15{width:15%;}
.w-16{width:16%;}
.w-17{width:17%;}
.w-18{width:18%;}
.w-19{width:19%;}
.w-20{width:20%;}
.w-21{width:21%;}
.w-22{width:22%;}
.w-23{width:23%;}
.w-24{width:24%}
.w-25{width:25%;}
.w-26{width:26%;}
.w-27{width:27%;}
.w-28{width:28%;}
.w-29{width:29%;}
.w-30{width:30%;}
.w-31{width:31%;}
.w-32{width:32%;}
.w-33{width:33.3%;}
.w-34{width:34%;}
.w-35{width:35%;}
.w-36{width:36%;}
.w-37{width:37%;}
.w-38{width:38%;}
.w-39{width:39%;}
.w-40{width:40%;}
.w-41{width:41%;}
.w-42{width:42%;}
.w-43{width:43%;}
.w-44{width:44%;}
.w-45{width:45%;}
.w-46{width:46%;}
.w-47{width:47%;}
.w-48{width:48%;}
.w-49{width:49%;}
.w-50{width:50%}
.w-51{width:51%;}
.w-52{width:52%;}
.w-53{width:53%;}
.w-54{width:54%;}
.w-55{width:55%;}
.w-56{width:56%;}
.w-57{width:57%;}
.w-58{width:58%;}
.w-59{width:59%;}
.w-60{width:60%;}
.w-61{width:61%;}
.w-62{width:62%;}
.w-63{width:63%;}
.w-64{width:64%;}
.w-65{width:65%;}
.w-66{width:66%;}
.w-67{width:67%;}
.w-68{width:68%;}
.w-69{width:69%;}
.w-70{width:70%;}
.w-71{width:71%;}
.w-72{width:72%;}
.w-73{width:73%;}
.w-74{width:74%;}
.w-75{width:75%;}
.w-76{width:76%;}
.w-77{width:77%;}
.w-78{width:78%;}
.w-79{width:79%;}
.w-80{width:80%;}
.w-81{width:81%;}
.w-82{width:82%;}
.w-83{width:83%;}
.w-84{width:84%;}
.w-85{width:85%;}
.w-86{width:86%;}
.w-87{width:87%;}
.w-88{width:88%;}
.w-89{width:89%;}
.w-90{width:90%;}
.w-91{width:91%;}
.w-92{width:92%;}
.w-93{width:93%;}
.w-94{width:94%;}
.w-95{width:95%;}
.w-96{width:96%;}
.w-97{width:97%;}
.w-98{width:98%;}
.w-99{width:99%;}
.w-100{width:100%}

/*------------------------------------------------------------------ 높이 설정 */
.h-1{height:1rem;}
.h-2{height:1.5rem;}
.h-3{height:2rem;}
.h-4{height:2.5rem;}
.h-5{height:3rem;}
.h-6{height:3.5rem;}
.h-7{height:4rem;}
.h-8{height:4.5rem;}
.h-9{height:5rem;}
.h-10{height:5.5rem;}
.h-11{height:6rem;}
.h-12{height:6.5rem;}
.h-13{height:7rem;}
.h-14{height:7.5rem;}
.h-15{height:8rem;}
.h-16{height:8.5rem;}
.h-17{height:9rem;}
.h-18{height:9.5rem;}
.h-19{height:10rem;}
.h-20{height:10.5rem;}
.h-21{height:11rem;}
.h-22{height:11.5rem;}
.h-23{height:12rem;}
.h-24{height:12.5rem;}
.h-25{height:13rem;}
.h-26{height:13.5rem;}
.h-27{height:14rem;}
.h-28{height:14.5rem;}
.h-29{height:15rem;}
.h-30{height:15.5rem;}
.h-31{height:14rem;}
.h-32{height:15rem;}
.h-33{height:16rem;}
.h-34{height:17rem;}
.h-35{height:18rem;}
.h-36{height:19rem;}
.h-37{height:20rem;}
.h-38{height:21rem;}
.h-39{height:22rem;}
.h-40{height:23rem;}
.h-41{height:24rem;}
.h-42{height:25rem;}
.h-43{height:26rem;}
.h-44{height:27rem;}
.h-45{height:28rem;}
.h-46{height:29rem;}
.h-47{height:30rem;}
.h-48{height:31rem;}
.h-49{height:32rem;}
.h-50{height:33rem;}

.wr-1{width:1rem;}
.wr-2{width:1.5rem;}
.wr-3{width:2rem;}
.wr-4{width:2.5rem;}
.wr-5{width:3rem;}
.wr-6{width:3.5rem;}
.wr-7{width:4rem;}
.wr-8{width:4.5rem;}
.wr-9{width:5rem;}
.wr-10{width:5.5rem;}
.wr-11{width:6rem;}
.wr-12{width:6.5rem;}
.wr-13{width:7rem;}
.wr-14{width:7.5rem;}
.wr-15{width:8rem;}
.wr-16{width:8.5rem;}
.wr-17{width:9rem;}
.wr-18{width:9.5rem;}
.wr-19{width:10rem;}
.wr-20{width:10.5rem;}
.wr-21{width:11rem;}
.wr-22{width:11.5rem;}
.wr-23{width:12rem;}
.wr-24{width:12.5rem;}
.wr-25{width:13rem;}
.wr-26{width:13.5rem;}
.wr-27{width:14rem;}
.wr-28{width:14.5rem;}
.wr-29{width:15rem;}
.wr-30{width:15.5rem;}
.wr-31{width:14rem;}
.wr-32{width:15rem;}
.wr-33{width:16rem;}
.wr-34{width:17rem;}
.wr-35{width:18rem;}
.wr-36{width:19rem;}
.wr-37{width:20rem;}
.wr-38{width:21rem;}
.wr-39{width:22rem;}
.wr-40{width:23rem;}
.wr-41{width:24rem;}
.wr-42{width:25rem;}
.wr-43{width:26rem;}
.wr-44{width:27rem;}
.wr-45{width:28rem;}
.wr-46{width:29rem;}
.wr-47{width:30rem;}
.wr-48{width:31rem;}
.wr-49{width:32rem;}
.wr-50{width:33rem;}


/*-------------------------------------------------------------------------- 정렬 */
.va-m{ vertical-align:middle;}
.va-t{ vertical-align:top;}
.va-b{ vertical-align:bottom;}
.ta-l{text-align:left;}
.ta-r{text-align:right;}
.ta-c{text-align:center;}

/*------------------------------------------------------------------- 백그라운드 색상 */
.bg-black{background-color:#000;}
.bg-white{background-color:#fff;}

.bg-blue-1{background-color:#1355b1;}
.bg-blue-2{background-color:#236dc7;}
.bg-blue-3{background-color:#236dc7;}
.bg-blue-4{background-color:#236dc7;}
.bg-blue-5{background-color:#236dc7;}

.bg-gray-1{background-color:#1d1d20;}
.bg-gray-2{background-color:#333333;}
.bg-gray-3{background-color:#6a6a6a;}
.bg-gray-4{background-color:#7a7a7a;}
.bg-gray-5{background-color:#e3e3e3;}
.bg-gray-6{background-color:#EFEFEF;}
.bg-gray-7{background-color:#f4f5f4;}

.bg-red-1{background-color:#f04e22;}
.bg-red-2{background-color:#ed4d95;}
.bg-red-3{background-color:#ed4d95;}
.bg-red-4{background-color:#ed4d95;}
.bg-red-5{background-color:#ed4d95;}




/*--------------------------------------------------------------------- 폰트색상 */
.fc-white{color:#fff;}
.fc-black{color:#000;}
.fc-yellow{color:#f2f200}

.fc-blue-1{color:#1355b1;}
.fc-blue-2{color:#236dc7;}
.fc-blue-3{color:#236dc7;}
.fc-blue-4{color:#236dc7;}
.fc-blue-5{color:#236dc7;}

.fc-gray-1{color:#1d1d20;}
.fc-gray-2{color:#333333;}
.fc-gray-3{color:#6a6a6a;}
.fc-gray-4{color:#7a7a7a;}
.fc-gray-5{color:#e3e3e3;}

.fc-red-1{color:#f04e22;}
.fc-red-2{color:#ed4d95;}
.fc-red-3{color:#ed4d95;}
.fc-red-4{color:#ed4d95;}
.fc-red-5{color:#ed4d95;}


/*---------------------------------------------------------------------- 폰트사이즈 */

.fs-0_7{font-size:0.7rem;}
.fs-0_8{font-size:0.8rem;}
.fs-0_9{font-size:0.9rem;}
.fs-1_0{font-size:1.0rem;}
.fs-1_1{font-size:1.1rem;}
.fs-1_2{font-size:1.2rem;}
.fs-1_3{font-size:1.3rem;}
.fs-1_4{font-size:1.4rem;}
.fs-1_5{font-size:1.5rem;}
.fs-1_6{font-size:1.6rem;}
.fs-1_7{font-size:1.7rem;}
.fs-1_8{font-size:1.8rem;}
.fs-1_9{font-size:1.9rem;}
.fs-2{font-size:2rem;}
.fs-2_1{font-size:2.1rem;}
.fs-2_2{font-size:2.2rem;}
.fs-2_3{font-size:2.3rem;}
.fs-2_4{font-size:2.4rem;}
.fs-2_5{font-size:2.5rem;}
.fs-2_6{font-size:2.6rem;}
.fs-2_7{font-size:2.7rem;}
.fs-2_8{font-size:2.8rem;}
.fs-2_9{font-size:2.9rem;}
.fs-3{font-size:3rem;}
.fs-3_1{font-size:3.1rem;}
.fs-3_2{font-size:3.2rem;}
.fs-3_3{font-size:3.3rem;}
.fs-3_4{font-size:3.4rem;}
.fs-3_5{font-size:3.5rem;}
.fs-3_6{font-size:3.6rem;}
.fs-3_7{font-size:3.7rem;}
.fs-3_8{font-size:3.8rem;}
.fs-3_9{font-size:3.9rem;}
.fs-4{font-size:4rem;}
.fs-4_1{font-size:4.1rem;}
.fs-4_2{font-size:4.2rem;}
.fs-4_3{font-size:4.3rem;}
.fs-5{font-size:5rem;}
.fs-6{font-size:6rem;}

/*------------------------------------------------------------------------ 폰트 스타일 */

.fs-i{font-style:italic;}
.fw-b{font-weight:bold;}
.fw-n{font-weight:normal;}

.fw-100{font-weight:100;}
.fw-200{font-weight:200;}
.fw-300{font-weight:300;}
.fw-400{font-weight:400;}
.fw-500{font-weight:500;}
.fw-600{font-weight:600;}
.fw-700{font-weight:700;}


/*-------------------------------------------------------------------------- 두줄 나오가 하기 */
.text-cut-1{
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	overflow:hidden;
}

.text-cut-2{
	display:-webkit-box;
	-webkit-line-clamp:2; 
	-webkit-box-orient:vertical;
	width:100%;
	line-height:1rem;
	height:2.4rem;
	overflow:hidden;
	text-overflow:ellipsis;
}


/*----------------------------------------------------------------------- 폰트 간격 */
.ls--1{letter-spacing:-1px}
.ls-0{letter-spacing:0px}
.ls-1{letter-spacing:1px}
.ls-2{letter-spacing:2px}

/*------------------------------------------------------------------------ 글자간격 */

.lh-1{line-height:1rem;}
.lh-1_2{line-height:1.2rem;}
.lh-1_3{line-height:1.3rem;}
.lh-1_4{line-height:1.4rem;}
.lh-1_5{line-height:1.5rem;}
.lh-1_6{line-height:1.6rem;}
.lh-1_7{line-height:1.7rem;}
.lh-1_8{line-height:1.8rem;}
.lh-1_9{line-height:1.9rem;}
.lh-2{line-height:2rem;}
.lh-2_5{line-height:2.5rem;}
.lh-3{line-height:3rem;}
.lh-3_5{line-height:3.5rem;}
.lh-4{line-height:4rem;}
.lh-4_5{line-height:4.5rem;}
.lh-5{line-height:5rem;}
.lh-5_5{line-height:5.5rem;}
.lh-6{line-height:6rem;}
.lh-6_5{line-height:6.5rem;}
.lh-7{line-height:7rem;}
.lh-7_5{line-height:7.5rem;}
.lh-8{line-height:8rem;}
.lh-8_5{line-height:8.5rem;}
.lh-9{line-height:9rem;}
.lh-9_5{line-height:9_5rem;}
.lh-10{line-height:10rem;}


/*--------------------------------------------------------------- border  */


.bo-0{border:none;}
.bo-1{border:1px solid #ccc;}
.bo-2{border:2px solid #dee0e4;}
.bo-3{border:3px solid #dee0e4;}
.bo-4{border:4px solid #dee0e4;}
.bo-5{border:5px solid #dee0e4;}

.bo-b-0{border-bottom:none;}
.bo-b-1{border-bottom:1px solid #dee0e4;}
.bo-b-2{border-bottom:2px solid #dee0e4;}
.bo-b-3{border-bottom:3px solid #dee0e4;}
.bo-b-4{border-bottom:4px solid #dee0e4;}
.bo-b-5{border-bottom:5px solid #dee0e4;}

.bo-t-0{border-top:none;}
.bo-t-1{border-top:1px solid #dee0e4;}
.bo-t-2{border-top:2px solid #dee0e4;}
.bo-t-3{border-top:3px solid #dee0e4;}
.bo-t-4{border-top:4px solid #dee0e4;}
.bo-t-5{border-top:5px solid #dee0e4;}

.bo-l-0{border-left:none;}
.bo-l-1{border-left:1px solid #dee0e4;}
.bo-l-2{border-left:2px solid #dee0e4;}
.bo-l-3{border-left:3px solid #dee0e4;}
.bo-l-4{border-left:4px solid #dee0e4;}
.bo-l-5{border-left:5px solid #dee0e4;}

.bo-r-0{border-right:none;}
.bo-r-1{border-right:1px solid #dee0e4;}
.bo-r-2{border-right:2px solid #dee0e4;}
.bo-r-3{border-right:3px solid #dee0e4;}
.bo-r-4{border-right:4px solid #dee0e4;}
.bo-r-5{border-right:5px solid #dee0e4;}

.bo-ra-0{border-radius:0;}
.bo-ra-1{border-radius:0.2rem;}
.bo-ra-2{border-radius:0.4rem;}
.bo-ra-3{border-radius:0.6rem;}
.bo-ra-4{border-radius:0.8rem;}
.bo-ra-5{border-radius:1rem;}
.bo-ra-ci{border-radius:50%;}


.bo-white{border-color:#fff;}
.bo-black{border-color:#000;}

.bo-blue-1{border-color:#1355b1;}
.bo-blue-2{border-color:#236dc7;}
.bo-blue-3{border-color:#236dc7;}
.bo-blue-4{border-color:#236dc7;}
.bo-blue-5{border-color:#236dc7;}

.bo-gray-1{border-color:#1d1d20;}
.bo-gray-2{border-color:#333333;}
.bo-gray-3{border-color:#6a6a6a;}
.bo-gray-4{border-color:#7a7a7a;}
.bo-gray-5{border-color:#e3e3e3;}

.bo-red-1{border-color:#f04e22;}
.bo-red-2{border-color:#ed4d95;}
.bo-red-3{border-color:#ed4d95;}
.bo-red-4{border-color:#ed4d95;}
.bo-red-5{border-color:#ed4d95;}

/*--------------------------------------------------------------- 리스트 컬럼 값을 이용해서 ul li  */

.list{width:100%;display:table;list-style-type: none}
.list li{display:list-item;float:left;position:relative;}

.list.num-1 > li{width:100%;margin-right:0;margin-top:1rem;}
.list.num-1 > li:nth-child(1){margin-top:0rem;}

.list.num-2 > li{width:50%;margin-right:0}
.list.num-2.gap1 > li{width:49.5%;margin-right:1%}
.list.num-2.gap2 > li{width:49%;margin-right:2%}
.list.num-2.gap3 > li{width:48.5%;margin-right:3%}
.list.num-2 > li:nth-of-type(2n+0){margin-right:0%;}
.list.num-2 > li:nth-of-type(2n+1){margin-top:2%; clear:both;}
.list.num-2 > li:nth-of-type(2n+2){margin-top:2%;}
.list.num-2 > li:nth-child(1){margin-top:0rem;}
.list.num-2 > li:nth-child(2){margin-top:0rem;}

.list.num-3 > li{width:33.33%;margin-right:0}
.list.num-3.gap1 > li{width:32.66%;margin-right:1%}
.list.num-3.gap2 > li{width:32%;margin-right:2%}
.list.num-3.gap3 > li{width:31.33%;margin-right:3%}
.list.num-3 > li:nth-of-type(3n+0){margin-right:0%;}
.list.num-3 > li:nth-of-type(3n+1){margin-top:3%; clear:both;}
.list.num-3 > li:nth-of-type(3n+2){margin-top:3%;}
.list.num-3 > li:nth-of-type(3n+3){margin-top:3%;}
.list.num-3.gap2 > li:nth-of-type(3n+1){margin-top:2%; clear:both;}
.list.num-3.gap2 > li:nth-of-type(3n+2){margin-top:2%;}
.list.num-3.gap2 > li:nth-of-type(3n+3){margin-top:2%;}

.list.num-3 > li:nth-child(1){margin-top:0rem;}
.list.num-3 > li:nth-child(2){margin-top:0rem;}
.list.num-3 > li:nth-child(3){margin-top:0rem;}

.list.num-4 > li{width:25%;margin-right:0}
.list.num-4.gap1 > li{width:24.25%;margin-right:1%}
.list.num-4.gap2 > li{width:23.5%;margin-right:2%}
.list.num-4.gap3 > li{width:22.75%;margin-right:3%}
.list.num-4 > li:nth-of-type(4n+0){margin-right:0%;}
.list.num-4 > li:nth-of-type(4n+1){margin-top:2rem; clear:both;}
.list.num-4 > li:nth-of-type(4n+2){margin-top:2rem;}
.list.num-4 > li:nth-of-type(4n+3){margin-top:2rem;}
.list.num-4 > li:nth-of-type(4n+4){margin-top:2rem;}
.list.num-4 > li:nth-child(1){margin-top:0rem;}
.list.num-4 > li:nth-child(2){margin-top:0rem;}
.list.num-4 > li:nth-child(3){margin-top:0rem;}
.list.num-4 > li:nth-child(4){margin-top:0rem;}

.list.num-5 > li{width:20%;margin-right:0}
.list.num-5.gap1 > li{width:19.20%;margin-right:1%}
.list.num-5.gap2 > li{width:18.40%;margin-right:2%}
.list.num-5.gap3 > li{width:17.60%;margin-right:3%}
.list.num-5 > li:nth-of-type(5n+0){margin-right:0%;}
.list.num-5 > li:nth-of-type(5n+1){margin-top:2rem; clear:both;}
.list.num-5 > li:nth-of-type(5n+2){margin-top:2rem;}
.list.num-5 > li:nth-of-type(5n+3){margin-top:2rem;}
.list.num-5 > li:nth-of-type(5n+4){margin-top:2rem;}
.list.num-5 > li:nth-of-type(5n+5){margin-top:2rem;}
.list.num-5 > li:nth-child(1){margin-top:0rem;}
.list.num-5 > li:nth-child(2){margin-top:0rem;}
.list.num-5 > li:nth-child(3){margin-top:0rem;}
.list.num-5 > li:nth-child(4){margin-top:0rem;}
.list.num-5 > li:nth-child(5){margin-top:0rem;}

.list.num-6 > li{width:16.6%;margin-right:0}
.list.num-6.gap1 > li{width:15.8%;margin-right:1%}
.list.num-6.gap2 > li{width:15%;margin-right:2%}
.list.num-6.gap3 > li{width:14.16%;margin-right:3%}
.list.num-6 > li:nth-of-type(6n+0){margin-right:0%;}
.list.num-6 > li:nth-of-type(6n+1){margin-top:2rem; clear:both;}
.list.num-6 > li:nth-of-type(6n+2){margin-top:2rem;}
.list.num-6 > li:nth-of-type(6n+3){margin-top:2rem;}
.list.num-6 > li:nth-of-type(6n+4){margin-top:2rem;}
.list.num-6 > li:nth-of-type(6n+5){margin-top:2rem;}
.list.num-6 > li:nth-of-type(6n+6){margin-top:2rem;}
.list.num-6 > li:nth-child(1){margin-top:0rem;}
.list.num-6 > li:nth-child(2){margin-top:0rem;}
.list.num-6 > li:nth-child(3){margin-top:0rem;}
.list.num-6 > li:nth-child(4){margin-top:0rem;}
.list.num-6 > li:nth-child(5){margin-top:0rem;}
.list.num-6 > li:nth-child(6){margin-top:0rem;}



/* 리스트 컬럼 값을 이용해서 div */

.list-div {width:100%;display:table;}
.list-div > div{display:inline-block;float:left;}

.list-div.num-1 > div{width:100%;margin-right:0;margin-top:2rem;}
.list-div.num-1 >div:nth-child(1){margin-top:0rem;}
.list-div.num-1.gap1 > div{width:100%;margin-right:0%}
.list-div.num-1.gap2 > div{width:100%;margin-right:0%}
.list-div.num-1.gap3 > div{width:100%;margin-right:0%}

.list-div.num-2 > div{width:50%;margin-right:0}
.list-div.num-2.gap1 > div{width:49.5%;margin-right:1%}
.list-div.num-2.gap2 > div{width:49%;margin-right:2%}
.list-div.num-2.gap3 > div{width:48.5%;margin-right:3%}
.list-div.num-2 >div:nth-of-type(2n+0){margin-right:0%;}
.list-div.num-2 >div:nth-of-type(2n+1){margin-top:2rem; clear:both;}
.list-div.num-2 >div:nth-of-type(2n+2){margin-top:2rem;}
.list-div.num-2 >div:nth-child(1){margin-top:0rem;}
.list-div.num-2 >div:nth-child(2){margin-top:0rem;}

.list-div.num-3 > div{width:33.33%;margin-right:0}
.list-div.num-3.gap1 > div{width:32.66%;margin-right:1%}
.list-div.num-3.gap2 > div{width:32%;margin-right:2%}
.list-div.num-3.gap3 > div{width:31.33%;margin-right:3%}
.list-div.num-3 >div:nth-of-type(3n+0){margin-right:0%;}
.list-div.num-3 >div:nth-of-type(3n+1){margin-top:2rem; clear:both;}
.list-div.num-3 >div:nth-of-type(3n+2){margin-top:2rem;}
.list-div.num-3 >div:nth-of-type(3n+3){margin-top:2rem;}
.list-div.num-3 >div:nth-child(1){margin-top:0rem;}
.list-div.num-3 >div:nth-child(2){margin-top:0rem;}
.list-div.num-3 >div:nth-child(3){margin-top:0rem;}

.list-div.num-4 > div{width:25%;margin-right:0}
.list-div.num-4.gap1 > div{width:24.25%;margin-right:1%}
.list-div.num-4.gap2 > div{width:23.5%;margin-right:2%}
.list-div.num-4.gap3 > div{width:22.75%;margin-right:3%}
.list-div.num-4 >div:nth-of-type(4n+0){margin-right:0%;}
.list-div.num-4 >div:nth-of-type(4n+1){margin-top:2rem; clear:both;}
.list-div.num-4 >div:nth-of-type(4n+2){margin-top:2rem;}
.list-div.num-4 >div:nth-of-type(4n+3){margin-top:2rem;}
.list-div.num-4 >div:nth-of-type(4n+4){margin-top:2rem;}
.list-div.num-4 >div:nth-child(1){margin-top:0rem;}
.list-div.num-4 >div:nth-child(2){margin-top:0rem;}
.list-div.num-4 >div:nth-child(3){margin-top:0rem;}
.list-div.num-4 >div:nth-child(4){margin-top:0rem;}

.list-div.num-5 > div{width:20%;margin-right:0}
.list-div.num-5.gap1 > div{width:19.20%;margin-right:1%}
.list-div.num-5.gap2 > div{width:18.40%;margin-right:2%}
.list-div.num-5.gap3 > div{width:17.60%;margin-right:3%}
.list-div.num-5 >div:nth-of-type(5n+0){margin-right:0%;}
.list-div.num-5 >div:nth-of-type(5n+1){margin-top:2rem; clear:both;}
.list-div.num-5 >div:nth-of-type(5n+2){margin-top:2rem;}
.list-div.num-5 >div:nth-of-type(5n+3){margin-top:2rem;}
.list-div.num-5 >div:nth-of-type(5n+4){margin-top:2rem;}
.list-div.num-5 >div:nth-of-type(5n+5){margin-top:2rem;}
.list-div.num-5 >div:nth-child(1){margin-top:0rem;}
.list-div.num-5 >div:nth-child(2){margin-top:0rem;}
.list-div.num-5 >div:nth-child(3){margin-top:0rem;}
.list-div.num-5 >div:nth-child(4){margin-top:0rem;}
.list-div.num-5 >div:nth-child(5){margin-top:0rem;}

.list-div.num-6 > div{width:16.6%;margin-right:0}
.list-div.num-6.gap1 > div{width:15.8%;margin-right:1%}
.list-div.num-6.gap2 > div{width:15%;margin-right:2%}
.list-div.num-6.gap3 > div{width:14.16%;margin-right:3%}
.list-div.num-6 >div:nth-of-type(6n+0){margin-right:0%;}
.list-div.num-6 >div:nth-of-type(6n+1){margin-top:2rem; clear:both;}
.list-div.num-6 >div:nth-of-type(6n+2){margin-top:2rem;}
.list-div.num-6 >div:nth-of-type(6n+3){margin-top:2rem;}
.list-div.num-6 >div:nth-of-type(6n+4){margin-top:2rem;}
.list-div.num-6 >div:nth-of-type(6n+5){margin-top:2rem;}
.list-div.num-6 >div:nth-child(1){margin-top:0rem;}
.list-div.num-6 >div:nth-child(2){margin-top:0rem;}
.list-div.num-6 >div:nth-child(3){margin-top:0rem;}
.list-div.num-6 >div:nth-child(4){margin-top:0rem;}
.list-div.num-6 >div:nth-child(5){margin-top:0rem;}
.list-div.num-6 >div:nth-child(6){margin-top:0rem;}


/*----------------------------------------------------------------------------- 게시판 넘버링 */

.board-num {display: table;margin: 0 auto;}
.board-num li {display: table-cell;padding: 0 10px;vertical-align: middle;line-height: 120%;}

/*------------------------------------------------------------------------- 이미지 */

.img-zoom{
	overflow:hidden;
}

.img-zoom img {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}

.img-zoom:hover img {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
}

/*------------------------------------------------- 드롭다운 스크립트 연동필요 */

.drop {
    background-color: #fff;
    text-align: left;
    position: relative;
    color: #707070;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    line-height:110%;
    border:1px solid #ccc;
}

.drop.lg{height:3rem;padding-top:calc(3rem*0.2);font-size:1.5rem;padding-left:0.8rem; }
.drop.md{height:2.5rem;padding-top:calc(2.5rem*0.2);font-size:1.3rem;padding-left:0.6rem;}
.drop.sm{height:2.2rem;padding-top:calc(2.2rem*0.25);font-size:1rem;padding-left:0.4rem;}
.drop.xs{height:1.8rem;padding-top:calc(1.8rem*0.25);font-size:0.8rem;padding-left: 0.3rem;}
.drop.xxs{height:1.5rem;padding-top:calc(1.5rem*0.25);font-size:0.7rem;padding-left:0.2rem;}

.drop  > ul{
	position:absolute;
	z-index:1001;
	height:auto;
	overflow:hidden;
	background-color:white;
	width:100%;
	display:none;
	left:0;
}

.drop > ul > li{
	padding:3px 0px 3px 20px;
	background-color:white;
	font-weight:bold;
	font-size: inherit;
}



.drop-down-cl{
	width:100%;
	display:table;
}

.drop-up-cl{
	width:100%;
	display:table;
}

.drop.down{
	border:1px solid #ccc;
}

.drop.up{
	background:#bfc2c4;
}

/*------------------------------------------------------------------------- 레이어 팝업 띄우기 */
.layer-show{cursor:pointer;}
.layer-modal{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 130%;
	background-color: black;
	z-index:1000;
	-moz-opacity:1;
	opacity:0.8;
	filter: alpha(opacity=80);
}

.layer-modal.black{background-color: black;}
.layer-modal.blue{background-color: #0955aa;}

.layer-modal-window{
	position:fixed;
	display: none;
	top:50%;
	left: 50%;
	z-index:1000005;
	margin:0 auto;
	transform:translate(-50%, -50%);
	overflow-y:auto;
	max-height:100vh;
	background-color:white;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	
}

.layer-modal-window .modal-header img{
	cursor:pointer;
}

.layer-modal-window .modal-cont{
	/*background-color:white;*/
}

.pop{
	position:fixed;
	z-index:10002;
	background-color:white;
}

.pilsu{
	position:relative;
}

.form-error{
	display: none;
    color: white;
    font-size: 0.7rem;
    padding: 0.2rem 0.2rem;
    margin: 0;
    line-height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: red;
}

.form-error.on{
	display:block;
}

.form-error.on:before{
	content:"*";
}

.ul-type{
	list-style-position: inside;
}

.ul-type.square li{
	list-style-type:square;
}


.new-icon{
	background-color:#3176cb;
	color:white;
	font-size:0.6rem;
	border-radius:50%;
	width:1rem;
	height:1rem;
	line-height:0;
	display:inline-block;
	vertical-align:middle;
	padding-top:0.5rem;
	padding-left:0.2rem;
	margin-left:0.5rem;
}

.over-y{
	display:block;
	width:100%;
	overflow-y:auto;
}

.over-x{
	display:block;
	width:100%;
	overflow-x:auto;
}



